html {
	scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 54px;
    color: #aaa;
<<<<<<< Updated upstream
    background: url(http://collectivemind.es/2.0/img/backgrounds/back.jpg);
=======
    background: url(../img/back.jpg);
>>>>>>> Stashed changes
}

@media (min-width:992px) {
    body {
        padding-top: 0;
        padding-left: 17rem
    }
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #762f5d
}

h1{font-size: 6rem;line-height: 5.5rem}
h2 {font-size: 3.5rem}
ul{list-style-type: none;}

.bg-primary { background-color: #622d4c !important;}

.text-primary {
    color: #aaa !important;/*#762f5d !important;*/
    font-size: 0.8em;
}

a { color: #762f5d;transition: color 0.45s;}

a:active,a:focus,a:hover { color: #863f6d !important;}

.subheading.mb-5{width: 70%;}

.subheading a{
    display: inline-block;
    color: #aaa !important;
    transition: color 0.45s;
    text-decoration: none;
    margin: 0 20px 0 0;
}

.subheading a:hover{
    color: #863f6d !important;
}

.element{
    float: left;
    margin: 0 40px 30px 0;
}

.b1teye{display:none;}

.languages{cursor: pointer;margin: 20px 0 0;}
.languages img{width:25px;opacity: 0.65;}
.languages:hover > div.languageSelector{
	visibility: visible;
  opacity: 1;
  transition: opacity 0.5s, visibility 0.5s;
}
	.languageSelector{
    width: 180px;
    position: relative;
    background: #333;
    border-radius: 7px;
    padding: 20px;
    top: 27px;
    margin: 0 auto;
		font-size: 10px;
		vertical-align: middle;
		visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
	}
	.languageSelector:before {
		content: '';
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #333;
    left: 41%;
    width: 5px;
    height: 10px;
    top: -15px;
	}
	.languageSelector a{color: #999;font-size: 15px;text-decoration: none;}

.purple{color: #762f5d;}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem
}

.list-social-icons a {
    color: #762f5d
}

.list-social-icons a:hover {
    color: #863f6d
}

.list-social-icons a .fa-lg {
    font-size: 1.75rem
}

.list-icons {
    font-size: 3rem
}

.list-icons .list-inline-item i:hover {
    color: #863f6d
}

.list-social-icons li{
    border-radius: 50px;
    transition: background 0.45s;
}

.list-social-icons li:hover{
    background: #622d4c;
    border-radius: 50px;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase
}

.skill{
  display: inline-block;
  width: 200px;
}

.skill::before{
  content: "<<";
  color: #762f5d;
  padding-right: 10px;
  font-weight: bold;
}
/*.gl1tch{
  content: attr(data-text);
  animation: gl1tch-1 0.5s linear infinite reverse;
	padding: 30px;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
}

.gl1tch:before{
  left: 3px;
  text-shadow: -2px 0 #d8031c;
  animation: glitch-1 2s linear infinite reverse;
}

@keyframes gl1tch-1 {
  0% {
    clip: rect(132px, 350px, 101px, 30px);
  }
  5% {
    clip: rect(17px, 350px, 94px, 30px);
		content: "i";
  }
  10% {
    clip: rect(40px, 350px, 66px, 30px);
  }
  15% {
    clip: rect(87px, 350px, 82px, 30px);
  }
  20% {
    clip: rect(137px, 350px, 61px, 30px);
  }
  25% {
    clip: rect(34px, 350px, 14px, 30px);
  }
  30% {
    clip: rect(133px, 350px, 74px, 30px);
  }
  35% {
    clip: rect(76px, 350px, 107px, 30px);
  }
  40% {
    clip: rect(59px, 350px, 130px, 30px);
  }
  45% {
    clip: rect(29px, 350px, 84px, 30px);
  }
  50% {
    clip: rect(22px, 350px, 67px, 30px);
  }
  55% {
    clip: rect(67px, 350px, 62px, 30px);
  }
  60% {
    clip: rect(10px, 350px, 105px, 30px);
  }
  65% {
    clip: rect(78px, 350px, 115px, 30px);
  }
  70% {
    clip: rect(105px, 350px, 13px, 30px);
  }
  75% {
    clip: rect(15px, 350px, 75px, 30px);
  }
  80% {
    clip: rect(66px, 350px, 39px, 30px);
  }
  85% {
    clip: rect(133px, 350px, 73px, 30px);
  }
  90% {
    clip: rect(36px, 350px, 128px, 30px);
  }
  95% {
    clip: rect(68px, 350px, 103px, 30px);
  }
  100% {
    clip: rect(14px, 350px, 100px, 30px);
  }
}*/

@media (min-width:992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh
    }
    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: .5rem
    }
    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: .5rem solid rgba(255, 255, 255, .2)
    }
    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto
    }
    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block
    }
}

section.resume-section {
    border-bottom: 1px solid #dee2e6;
    padding-top: 5rem!important;
    padding-bottom: 5rem!important
}

section.resume-section .resume-item .resume-date {
    min-width: none
}

/* SCROLLBAR Customization */
/* width */
::-webkit-scrollbar {
	width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #333;
  background: #666;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #762f5d;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #6a2351;
}

@media (max-width: 767px) and (min-width:320px){
  .bg-primary {
      display: none;
  }
  .b1teye{display:block;margin:-50px auto;width:200px;}
  h1{text-align: center;}
  .subheading.mb-5{text-align: center;width: 100%;}
  .list-inline.list-social-icons.mb-0{text-align: center;}
  .projectImage{width:100%;}
  .element {float: none;margin: 0 0 30px 0;}
  .element iframe{width:100%;}
}

@media (max-width: 991px) and (min-width:768px) {
  .bg-primary {
      display: none;
  }
  .b1teye{display:block;margin:-40px auto;width:200px;}
  h1{text-align: center;margin-top:40px;}
  .subheading.mb-5{text-align: center;width: 100%;}
  .list-inline.list-social-icons.mb-0{text-align: center;}
  .projectImage{width:100%;}
  .element {float: none;margin: 0 0 30px 0;}
  .element iframe{width:100%;}

  section.resume-section {min-height: 100vh}
  section.resume-section .resume-item .resume-date {min-width: 18rem}
  /*.projectImage{width:100%;}*/
}

@media (min-width:992px) {
    /*section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important
    }*/
    section.resume-section {min-height: 100vh}
    .b1teye{display:none;}
    .projectImage{width:1000px;}
}
