body {
    font-family: 'Open Sans', serif;
    padding-top: 54px;
    color: #aaa;
    background: url(https://collectivemind.es/2.0/img/backgrounds/back.jpg);
}

@media (min-width:992px) {
    body {
        padding-top: 0;
        padding-left: 17rem
    }
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #762f5d
}

h1{font-size: 6rem;line-height: 5.5rem}
h2 {font-size: 3.5rem}
ul{list-style-type: none;}

.bg-primary { background-color: #622d4c !important;}

.text-primary {
    color: #aaa !important;/*#762f5d !important;*/
    font-size: 0.8em;
}

a { color: #762f5d;transition: color 0.45s;}

a:active,a:focus,a:hover { color: #863f6d !important;}

.subheading.mb-5{width: 70%;}

.subheading a{
    display: inline-block;
    color: #aaa !important;
    transition: color 0.45s;
    text-decoration: none;
    margin: 0 20px 0 0;
}

.subheading a:hover{
    color: #863f6d !important;
}

.element{
    float: left;
    margin: 0 40px 30px 0;
}

.b1teye{display:none;}

.purple{color: #762f5d;}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem
}

.list-social-icons a {
    color: #762f5d
}

.list-social-icons a:hover {
    color: #863f6d
}

.list-social-icons a .fa-lg {
    font-size: 1.75rem
}

.list-icons {
    font-size: 3rem
}

.list-icons .list-inline-item i:hover {
    color: #863f6d
}

.list-social-icons li{
    border-radius: 50px;
    transition: background 0.45s;
}

.list-social-icons li:hover{
    background: #622d4c;
    border-radius: 50px;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase
}

.skill{
  display: inline-block;
  width: 200px;
}

.skill::before{
  content: "<<";
  color: #762f5d;
  padding-right: 10px;
  font-weight: bold;
}

@media (min-width:992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh
    }
    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: .5rem
    }
    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: .5rem solid rgba(255, 255, 255, .2)
    }
    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto
    }
    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block
    }
}

section.resume-section {
    border-bottom: 1px solid #dee2e6;
    padding-top: 5rem!important;
    padding-bottom: 5rem!important
}

section.resume-section .resume-item .resume-date {
    min-width: none
}

@media (max-width: 767px) and (min-width:320px){
  .bg-primary {
      display: none;
  }
  .b1teye{display:block;margin:-40px auto 40px;width:200px;}
  h1{text-align: center;}
  .subheading.mb-5{text-align: center;width: 100%;}
  .list-inline.list-social-icons.mb-0{text-align: center;}
  .projectImage{width:100%;}
  .element {float: none;margin: 0 0 30px 0;}
  .element iframe{width:100%;}
}

@media (max-width: 991px) and (min-width:768px) {
  .bg-primary {
      display: none;
  }
  .b1teye{display:block;margin:-40px auto 40px;width:200px;}
  h1{text-align: center;}
  .subheading.mb-5{text-align: center;width: 100%;}
  .list-inline.list-social-icons.mb-0{text-align: center;}
  .projectImage{width:100%;}
  .element {float: none;margin: 0 0 30px 0;}
  .element iframe{width:100%;}
  
  section.resume-section {min-height: 100vh}
  section.resume-section .resume-item .resume-date {min-width: 18rem}
  .projectImage{width:100%;}
}

@media (min-width:992px) {
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important
    }
    .b1teye{display:none;}
    .projectImage{width:1000px;}
}
